<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
  <appSettings>
    <add key="ListenIP" value="localhost" />
    <add key="ListenPort" value="9090" />
    <add key="BaseFolder" value="C:\\SharpGED\\" />
    <add key="Database" value="default" />
  </appSettings>
</configuration>
